/* Add CSS Styling */
.odd.numbers {
    color: black;
    background-color: pink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.odd.numbers.cooler{
    font-size: 24px;
}


#two {
color: blue;
font-size: 36px;
}

#four {
    font-size: 24x;
    background-color: greenyellow;

}


