/* Add CSS Styling */

#first {
    color: white;
    background-color: black;
}

#second {
    background-color: yellow;
}

.elements {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', Times, serif;

}